{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load i18n %}
{% get_current_language as LAGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{LAGUAGE_CODE}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task manager</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="min-vh-100 d-flex flex-column">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="{% url 'index' %}">{% trans "Task manager" %}</a>
    <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " href="{% url 'user_list' %}">{% trans "Users" %}</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link " href="#">{% trans "Statuses" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">{% trans "Labels" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">{% trans "Tasks" %}</a>
        </li>
        <li class="nav-item">
          <form method="post" action="{% url 'logout' %}" class="d-inline">
          {% csrf_token %}
          {% bootstrap_button button_type="submit" content=_("Logout") button_class="nav-link btn btn-link"%}
          </form>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link " href="{% url 'login' %}">{% trans "Login" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'user_create' %}">{% trans "Registration" %}</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <main class="flex-grow-1">
    <div class="container-lg mt-3">
      {% bootstrap_messages %}
      <h1>{% block heading %}{% endblock %}</h1>
      {% block content %}{% endblock %}
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
