{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block heading %}{% trans "Tasks" %}{% endblock %}
{% block content %}
<form method="post" action="{% url 'task_create' %}">
  {% csrf_token %}
  {% bootstrap_button button_type="submit" content=_("Create task") button_class="btn btn-primary"%}
</form>
<div class="card mx-auto bg-light ">
  <div class="card-body">
    <form method="get">
      {% bootstrap_form filter.form %}
      {% bootstrap_button button_type="submit" content=_("Show") button_class="btn btn-primary"%}
    </form>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Author" %}</th>
        <th>{% trans "Executor" %}</th>
        <th>{% trans "Creation date" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in filter.qs %}
      <tr>
        <td>{{ task.id }}</td>
        <td><a href="{% url 'task_show' pk=task.id %}">{{ task.name }}</a></td>
        <td>{{ task.status }}</td>
        <td>{{ task.author }}</td>
        <td>{{ task.executor }}</td>
        <td>{{ task.created_at }}</td>
        <td><a href="{% url 'task_update' pk=task.id %}">{% trans "Edit" %}</a><br><a href="{% url 'task_delete' pk=task.id %}">{% trans "Delete" %}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
